<!DOCTYPE html>
<html ng-app="Illuminatify" ng-controller="IlluminatifyController">
<head>
	<title>Illuminaughty</title>
	<!--Linking style sheet-->
	<link rel="stylesheet" href="../public/stylesheets/Illuminaughty.css">
</head>
<body>
    <div id="music"> 
        
        <embed src="../public/dankmeme.mp3" autostart="true" hidden="true" loop="true"/> 
        
        
        
    </div> 
	<center>
        <!--Note: Add more Memes and gifs--> 
        
        <div id="middle">
		  <div id="gif"> 
            <img src="../public/Gifs/Snoop.gif">
		  </div>
		  <!--Dank Logo-->
		  <img src="../public/Images/Logo.jpg">
        </div>
		<div id="search-bar">

			<form>
				<input type="text" name="search"></input>
			</form>

		</div>
		<form id="buttons">
			<input type="submit" name="search" value="Illuminati Search"></input>
			<input type="submit" name="feelingIlluminaughty" value="Feeling Illuminaughty"></input>

		</form>
	</center>
	<div id="Illuminati">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
	</div>

    <div id="Dank"> 
        <img src="../public/Gifs/Mlg%20Frog.gif"> 
        

    </div>
</body>
<footer>
	<p>Illuminati Confirmed. 420. Dank. NoScope.</p>
</footer>
<script src="../public/js/angular.min.js"></script>
<script src="../public/js/main.js"></script>
</html>