<!DOCTYPE html>
<html>

<head>
	<title>Illuminaughty</title>
	<!--Linking style sheet-->
	<link rel="stylesheet" href="../public/stylesheets/Illuminaughty.css">
	<link rel="stylesheet" href="../public/bootstrap.min.css">
</head>

<body ng-app="Illuminatify" ng-controller="IlluminatifyController">
	<audio loop autoplay>
		<source src="../public/dankmeme.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<div class="Search container-fluid" ng-show="status == 'Search'">
		<div class="row">
			<div class="col-xs-3">
				<img src="../public/Gifs/Snoop.gif" class="img-responsive">
			</div>
			<div class="col-xs-6">
				<!--Dank Logo-->
				<img src="../public/Images/Logo.jpg" class="img-responsive">
				<form name="Illuminaughtify" id="search-bar" ng-submit="search()">
					<div class="form-group">
						<input id="search" type="text" placeholder="Search..." ng-model="searchText"/>
					</div>
					<button class="btn" type="submit"">Illuminati Search</button>
					<button class="btn" ng-click="feelingIlluminaughty()">Feeling Illuminaughty</button>
				</form>
			</div>
			<div class="col-xs-3">
				<img src="../public/Gifs/quickscope.gif" class="img-responsive">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
			<div class="col-xs-1">
				<img src="../public/Images/Illuminati_Emblem.png" class="img-responsive">
			</div>
		</div>
		<div id="dank">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
		</div>
		<p id="bottomBar">Illuminati Confirmed. 420. Dank. NoScope.</p>
	</div>
	<div class="Loading container-fluid" ng-show="status == 'Loading'">
        <div class="row">
			<div class="col-xs-offset-3 col-xs-6">
       			<img src="../public/Gifs/loading%20pepe.gif" class="img-responsive" id="rarePepe">
			</div>
        </div>
	</div>
	<div class="Result" ng-show="status == 'Results'">
		<div class="illuminaugthyElement container" ng-repeat="illuminaugthyElement in illuminaughtyArray">
			<div class="illuminaugthyElementImageContainer">
				<img ng-src="{{illuminaugthyElement.image}}" class="img-responsive" />
			</div>
			<div class="illuminaugthyElementTitleContainer text-center">
				<h2>{{illuminaugthyElement.title}}</h2>
			</div>
			<div class="illuminaugthyElementDescriptionContainer text-center">
				<h3>{{illuminaugthyElement.desc}}</h2>
			</div>
			<div class="illuminaugthyArrow" ng-if="$index != illuminaughtyArray.length - 1">
				<img src="../public/Images/arrow_down.png" class="img-responsive"/>
			</div>
			<hr/>
			<hr/> 
		</div>
		<div ng-if="illuminaughtyArray == null" class="text-center">
			<h3>No Results Found</h3>
		</div>
		<div ng-if="illuminaughtyArray == 'error'" class="text-center">
			<h3>Illuminati interference detected! Server went down!</h3>
		</div>
		<div class="buttonContainer">
		<button class="btn btn-lg btn-primary" ng-click="searchAgain()">Search Again</button>
		</div>
	</div>
</body>
<script src="../public/jquery-1.11.3.min.js"></script>
<script src="../public/bootstrap.min.js"></script>
<script src="../public/js/angular.min.js"></script>
<script src="../public/js/main.js"></script>
</html>