<!DOCTYPE html>
<html ng-app="Illuminatify" ng-controller="IlluminatifyController">

<head>
	<title>Illuminaughty</title>
	<!--Linking style sheet-->
	<link rel="stylesheet" href="../public/stylesheets/Illuminaughty.css">
	<link rel="stylesheet"="../public/boostrap.min.css"/>
</head>

<body>
	<div class="Search" ng-show="status == 'Search'">
		<div id="music">
			<embed src="../public/dankmeme.mp3" autostart="true" hidden="true" loop="true" />
		</div>

	
		<center>
			<!--Note: Add more Memes and gifs-->
			<div id="middle">
				<div id="gif">
					<img src="../public/Gifs/Snoop.gif">
				</div>
				<!--Dank Logo-->
				<img src="../public/Images/Logo.jpg">


				<div id="cod">
					<img src="../public/Gifs/quickscope.gif">

				</div>
			</div>
			<div id="search-bar">
				<form name="Illuminaughtify" ng-submit="search()">
					<input id="search" type="text" name="search" ng-model="searchText"></input>
					<div id="buttons">
						<input type="submit" name="search" value="Illuminati Search"></input>
                    <button type="submit" name="feelingIlluminaughty" ng-click="feelingIlluminaughty()">Feeling Illuminaughty</button>
					</div>
				</form>
			</div>
		</center>
		<div id="Illuminati">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
		</div>
		<div id="dank">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">

		</div>
	</div>
	<div class="Loading" ng-show="status == 'Loading'">
		<!--Loading status..--> 
        <!--this is what will happen when the page is loading--> 
        <div id="rarePepe">
        <img src="../public/gifs/loading%20pepe.gif"> 
        </div>
	</div>
	<div class="Result" ng-show="status == 'Results'">
		<div class="illuminaugthyElement container" ng-repeat="illuminaugthyElement in illuminaughtyArray">
			<div class="illuminaugthyElementImageContainer">
				<img src="{{illuminaugthyElement.image}}"/>
			</div>
			<div class="illuminaugthyElementTitleContainer">
				<h2>{{illuminaugthyElement.title}}</h2>
			</div>
			<div class="illuminaugthyElementDescriptionContainer">
				<h3>{{illuminaugthyElement.desc}}</h2>
			</div>
			<div class="illuminaugthyArrow" ng-if="index != illuminaughtyArray.length">
				<img src="../public/Images/arrow_down.png"}"/>
			</div>
			<hr/> 
		</div>
	</div>
</body>
<footer>
	<p>Illuminati Confirmed. 420. Dank. NoScope.</p>
</footer>
<script src="../public/jquery-1.11.3.min.js"></script>
<script src="../public/bootstrap.min.js"></script>
<script src="../public/js/angular.min.js"></script>
<script src="../public/js/main.js"></script>
</html>