<!DOCTYPE html>
<html ng-app="Illuminatify" ng-controller="IlluminatifyController">

<head>
	<title>Illuminaughty</title>
	<!--Linking style sheet-->
	<link rel="stylesheet" href="../public/stylesheets/Illuminaughty.css">
</head>

<body>
	<div class="Search" ng-if="status == 'Search'">
		<div id="music">
			<embed src="../public/dankmeme.mp3" autostart="true" hidden="true" loop="true" />
		</div>
<<<<<<< HEAD
		<div id="search-bar">
			<form name="Illuminaughtify" ng-submit="search()">
				<input id="search" type="text" name="search" ng-model="searchText"></input>
            <div id="buttons">
				<input type="submit" name="search" value="Illuminati Search"></input>
          <button type="submit" name="feelingIlluminaughty" ng-click="feelingIlluminaughty()">Feeling Illuminaughty</button>
            </div>
			</form>
    
	</center>
	<div id="Illuminati">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
        <img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
        <img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
		<img src="../public/Images/Illuminati_Emblem.png">
       
    
	</div>
=======
		<center>
			<!--Note: Add more Memes and gifs-->
			<div id="middle">
				<div id="gif">
					<img src="../public/Gifs/Snoop.gif">
				</div>
				<!--Dank Logo-->
				<img src="../public/Images/Logo.jpg">
>>>>>>> 11457559804984bc1c94146d5e823efa8743ddd3

				<div id="cod">
					<img src="../public/Gifs/quickscope.gif">

				</div>
			</div>
			<div id="search-bar">
				<form name="Illuminaughtify" ng-submit="search()">
					<input id="search" type="text" name="search" ng-model="searchText"></input>
					<div id="buttons">
						<input type="submit" name="search" value="Illuminati Search"></input>
						<button type="submit" name="feelingIlluminaughty" ng-click="feelingIlluminaughty()">Feeling Illuminaughty</button>
					</div>
				</form>
			</div>
		</center>
		<div id="Illuminati">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
		</div>
		<div id="dank">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">

		</div>
	</div>
	<div class="Loading" ng-if="status == 'Loading'">
		
	</div>
	<div class="Result" ng-if="status == 'Result'">
		
	</div>
</body>
<footer>
	<p>Illuminati Confirmed. 420. Dank. NoScope.</p>
</footer>
<script src="../public/js/angular.min.js"></script>
<script src="../public/js/main.js"></script>

</html>