<!DOCTYPE html>
<html ng-app="Illuminatify" ng-controller="IlluminatifyController">

<head>
	<title>Illuminaughty</title>
	<!--Linking style sheet-->
	<link rel="stylesheet" href="../public/stylesheets/Illuminaughty.css">
	<link rel="stylesheet" href="../public/bootstrap.min.css">
</head>

<body>
	<div class="Search" ng-show="status == 'Search'">
		<div id="music">
			<embed src="../public/dankmeme.mp3" autostart="true" hidden="true" loop="true" />
		</div>


		<center>
			<!--Note: Add more Memes and gifs-->
			<div id="middle">
				<div id="gif">
					<img src="../public/Gifs/Snoop.gif">
				</div>
				<!--Dank Logo-->
				<img src="../public/Images/Logo.jpg">


				<div id="cod">
					<img src="../public/Gifs/quickscope.gif">

				</div>
			</div>
			<div id="search-bar">
				<form name="Illuminaughtify" ng-submit="search()">
					<input id="search" type="text" name="search" ng-model="searchText"></input>
					<div id="buttons">
						<input type="submit" name="search" value="Illuminati Search"></input>
						<button type="submit" name="feelingIlluminaughty" ng-click="feelingIlluminaughty()">Feeling Illuminaughty</button>
					</div>
				</form>
			</div>
		</center>
		<div id="Illuminati">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
			<img src="../public/Images/Illuminati_Emblem.png">
		</div>
		<div id="dank">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">
			<img src="../public/Gifs/Mlg%20Frog.gif">

		</div>
	</div>
	<div class="Loading" ng-show="status == 'Loading'">
		<!--Loading status..--> 
        <!--this is what will happen when the page is loading--> 
        <div id="rarePepe">
         <img src="../public/Gifs/loading%20pepe.gif">  
        </div>
	</div>
	<div class="Result" ng-show="status == 'Results'">
		<div class="illuminaugthyElement container" ng-repeat="illuminaugthyElement in illuminaughtyArray">
			<div class="illuminaugthyElementImageContainer">
				<img ng-src="{{illuminaugthyElement.image}}" class="img-responsive" />
			</div>
			<div class="illuminaugthyElementTitleContainer text-center">
				<h2>{{illuminaugthyElement.title}}</h2>
			</div>
			<div class="illuminaugthyElementDescriptionContainer text-center">
				<h3>{{illuminaugthyElement.desc}}</h2>
			</div>
			<div class="illuminaugthyArrow" ng-if="$index != illuminaughtyArray.length - 1">
				<img src="../public/Images/arrow_down.png" class="img-responsive"/>
			</div>
			<hr/>
			<hr/> 
		</div>
		<div ng-if="illuminaughtyArray.length == 0">
			<h3>No Results Found</h3>
		</div>
		<div class="buttonContainer">
		<button class="btn btn-lg btn-primary" ng-click="searchAgain()">Search Again</button>
		</div>
	</div>
</body>
<footer>
	<p>Illuminati Confirmed. 420. Dank. NoScope.</p>
</footer>
<script src="../public/jquery-1.11.3.min.js"></script>
<script src="../public/bootstrap.min.js"></script>
<script src="../public/js/angular.min.js"></script>
<script src="../public/js/main.js"></script>
</html>