<!DOCTYPE html> 


<html> 
	<head> 
		<title>Illuminaughty</title> 
		
		<!--Linking style sheet--> 
		<link rel="stylesheet" href="../public/stylesheets/Illuminaughty.css"> 
		
	</head> 
	
	<body> 
	
	<center> 
        
   <!-- <div id="gif"> 
        <img src="Snoop.gif">-->
        
    </div>
	<!--Dank Logo--> 
	<img src="../public/Images/Logo.jpg">
	
	<div id="search-bar"> 
	
	<form> 
		<input type="text" name="search"></input>
	</form> 
	
	</div> 
        
    <!--<Div id="dope"> 
    <img src="dope.gif">--> 
        
    </Div>
	
	<form id="buttons"> 
		<input type="submit" name="search" value="Illuminati Search"></input> 
		<input type="submit" name="feelingIlluminaughty" value="Feeling Illuminaughty"></input> 
		
	</form> 
	
	</center> 
    <div id="Illuminati"> 
        <img src="../public/Images/Illuminati_Emblem.png"> 
        <img src="../public/Images/Illuminati_Emblem.png"> 
        <img src="../public/Images/Illuminati_Emblem.png"> 
        <img src="../public/Images/Illuminati_Emblem.png">
        <img src="../public/Images/Illuminati_Emblem.png">
        <img src="../public/Images/Illuminati_Emblem.png">
        <img src="../public/Images/Illuminati_Emblem.png">
        <img src="../public/Images/Illuminati_Emblem.png">
        <img src="../public/Images/Illuminati_Emblem.png"> 
        


    </div>
	
	</body> 

<footer> 

    <p>Illuminati Confirmed. 420. Dank. NoScope.</p>
    


</footer>

</html> 